/* CSS for website */
li.header {
    text-align: center;
}

button.copy-code-button {
    background-color: transparent !important;
    color: black !important;
    border: 1px solid black !important;
}

#disqus_thread {
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}