@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

li.header {
    text-align: center;
}

button.copy-code-button {
    background-color: transparent !important;
    color: #333 !important;
    border: 1px solid #333 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.search-noresults,
#disqus_thread {
    animation-name: fadeIn;
}