{% macro articles(_articles) %}
    {% for article in _articles %}
        <li class="chapter {% if article.path == file.path and not article.anchor %}active{% endif %}" data-level="{{ article.level }}" {% if article.path %}data-path="{{ article.path|resolveFile }}"{% endif %}>
            {% if article.path %}
                <a href="{{ article.path|resolveFile }}{{ article.anchor }}">
            {% elif article.url %}
                <a target="_blank" href="{{ article.url }}">
            {% else %}
                <span>
            {% endif %}
                    {% if article.level != "0" and config.pluginsConfig['theme-default'].showLevel %}
                        <b>{{ article.level }}.</b>
                    {% endif %}
                    {{ article.title }}
                    {% if article.path == file.path and not article.anchor %}<span class="pull-right mtime" style="padding: 0;">{{file.mtime|date('MM/DD/YY')}}</span>{% endif %}
            {% if article.path  or article.url %}
                </a>
            {% else %}
                </span>
            {% endif %}

            {% if article.articles.length > 0 %}
            <ul class="articles">
                {{ articles(article.articles, file, config) }}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<ul class="summary">
    {% for part in summary.parts %}
        {% if part.title %}
        <li class="divider"></li>
        <li class="header">{{ part.title }}</li>
        {% elif not loop.first %}
        <li class="divider"></li>
        {% endif %}
        {{ articles(part.articles, file, config) }}
    {% endfor %}
    <li class="divider"></li>
    <li class="chapter">
        <a aria-label="GitBook" href="https://www.gitbook.com/book/petrosliu/code-note/" target="blank" class="btn pull-left" style="color:#939da3;">Published with GitBook</a>
        <a aria-label="Me" href="http://im.liuyid.in" target="blank" class="btn pull-right" style="color:#939da3;padding:10px 10px 10px 0;"><img draggable="false" src="../images/icons/lyd.svg" class="fa fa-fw" style="height:12px;"></a>
        <a aria-label="GitHub" href="https://github.com/petrosliu/code-note" target="blank" class="btn pull-right" style="color:#939da3;padding:10px 10px 10px 0;"><i class="fa fa-github fa-fw"></i></a>
        <a aria-label="Edit" href="https://www.gitbook.com/book/petrosliu/code-note/edit#/edit/master/{{file.path}}" target="blank" class="btn pull-right" style="color:#939da3;padding:10px 10px 10px 0;"><i class="fa fa-pencil-square-o fa-fw"></i></a>
    </li>
</ul>