li.header {
    text-align: center;
    font-weight: bold;
    position: -webkit-sticky !important;
    position: -moz-sticky !important;
    position: -ms-sticky !important;
    position: -o-sticky !important;
    position: sticky !important;
    top: 45px !important;
    z-index: 2 !important;
    background: -moz-linear-gradient(top,  rgba(250,250,250,0) 0%, rgba(250,250,250,1) 10%, rgba(250,250,250,1) 90%, rgba(250,250,250,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(250,250,250,0) 0%, rgba(250,250,250,1) 10%,rgba(250,250,250,1) 90%,rgba(250,250,250,0) 100%);
    background: linear-gradient(to bottom,  rgba(250,250,250,0) 0%, rgba(250,250,250,1) 10%,rgba(250,250,250,1) 90%,rgba(250,250,250,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#00fafafa',GradientType=0 );
}

li.chapter:hover,
li.chapter.active {
    background-color: #F0F0F0;
}

li > a:link, li > a:visited, li > a:hover, li > a:active {
    text-decoration: none !important;
}

button.copy-code-button {
    background-color: transparent !important;
    color: #8e908c !important;
    border: 1px solid #8e908c !important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}

button.copy-code-button:hover {
    color: #444 !important;
    border: 1px solid #444 !important;
}

h1 > a:link, h1 > a:visited, h1 > a:hover, h1 > a:active, 
h2 > a:link, h2 > a:visited, h2 > a:hover, h2 > a:active, 
h3 > a:link, h3 > a:visited, h3 > a:hover, h3 > a:active, 
h4 > a:link, h4 > a:visited, h4 > a:hover, h4 > a:active, 
h5 > a:link, h5 > a:visited, h5 > a:hover, h5 > a:active, 
h6 > a:link, h6 > a:visited, h6 > a:hover, h6 > a:active {
    color: #333;
    text-decoration: none !important;
    background-color: transparent;
}

.js-toolbar-action > .fa-facebook,
.js-toolbar-action > .fa-twitter {
    visibility: hidden;
}

.book-header {
    position: -webkit-sticky !important;
    position: -moz-sticky !important;
    position: -ms-sticky !important;
    position: -o-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 2 !important;
    background: white;
}

.book-header h1{
    opacity: 1;
    text-transform: uppercase;
}

h2 {
    position: -webkit-sticky !important;
    position: -moz-sticky !important;
    position: -ms-sticky !important;
    position: -o-sticky !important;
    position: sticky !important;
    top: 45px !important;
    z-index: 3 !important;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%);
}

#book-search-input {
    position: -webkit-sticky !important;
    position: -moz-sticky !important;
    position: -ms-sticky !important;
    position: -o-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 3;
}

#book-search-results.open + #disqus_thread {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-inner, #disqus_thread {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#disqus_thread {
    animation-delay: 2s;
}