li.header {
    text-align: center;
    font-weight: bold;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 45px;
    z-index: 2;
    background: -moz-linear-gradient(top,  rgba(250,250,250,0) 0%, rgba(250,250,250,1) 10%, rgba(250,250,250,1) 90%, rgba(250,250,250,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(250,250,250,0) 0%, rgba(250,250,250,1) 10%,rgba(250,250,250,1) 90%,rgba(250,250,250,0) 100%);
    background: linear-gradient(to bottom,  rgba(250,250,250,0) 0%, rgba(250,250,250,1) 10%,rgba(250,250,250,1) 90%,rgba(250,250,250,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#00fafafa',GradientType=0 );
}

.book-summary ul.summary li {
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

.book-summary ul.summary li.chapter:hover,
.book-summary ul.summary li.chapter.active {
    background-color: #F0F0F0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

li > a:link, li > a:visited, li > a:hover, li > a:active {
    text-decoration: none !important;
}

pre {
    position: relative;
}

h1 > a:link, h1 > a:visited, h1 > a:hover, h1 > a:active, 
h2 > a:link, h2 > a:visited, h2 > a:hover, h2 > a:active, 
h3 > a:link, h3 > a:visited, h3 > a:hover, h3 > a:active, 
h4 > a:link, h4 > a:visited, h4 > a:hover, h4 > a:active, 
h5 > a:link, h5 > a:visited, h5 > a:hover, h5 > a:active, 
h6 > a:link, h6 > a:visited, h6 > a:hover, h6 > a:active {
    color: #333;
    text-decoration: none !important;
    background-color: transparent;
}

.book-header {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background: white;
}

.book-header a.btn,
.dropdown-menu .buttons .button {
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

.book-header h1{
    opacity: 1;
}

h2 {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 45px;
    z-index: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%);
}

#book-search-input {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.page-inner, #disqus_thread {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#disqus_thread {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 2s;
    padding-top: 40px;
}

#disqus_thread a:link, #disqus_thread a:visited, #disqus_thread a:hover, #disqus_thread a:active {
    color: #008cff;
}

button.copy-code-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px;
    background-color: transparent;
    color: #ccc;
    border: none;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

button.copy-code-button:hover {
    color: #444;
}

button.copy-code-button > kbd {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #ccc;
    border-radius: 3px;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

button.copy-code-button:hover > kbd {
    background-color: #444;
}

button.copy-code-button > kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
}